@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('header.css');
@import url('home.css');
@import url('menu.css');
@import url('testimonials.css');
@import url('footer.css');
@import url('contact.css');

:root {
    --color-primary-1: #121212;
    --color-primary-2: #c6e7ec;
    --color-primary-3: #84e0f0;
    --color-primary-4: #0cc0df;
    --color-primary-5: #0babc7;
    --color-primary-6: #0a8499;
    --color-primary-7: #095b69;

    --color-neutral-0: #fff;
    --color-neutral-1: #1d1d1d;
    --color-neutral-2: #242424;
    --color-neutral-4: #045563;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-primary-1);
}

section {
    padding: 28px 8%;
}

#icon_navbar {
    height: 60px;
}

